---
/* @import components */
import Section from '@/components/Section.astro'
/* @import json */
import { basics } from '@cv'

const { description } = basics
---

<Section title="Sobre mí">
  <p class="text-sm text-pretty mb-1">{description}</p>
</Section>
