---
/* @import components */
import Modal from '@/components/Modal.astro'
import Section from '@/components/Section.astro'

/* @import icons */
import AstroLogo from '@/icons/AstroLogo.astro'
import Codeigniter from '@/icons/Codeigniter.astro'
import Css from '@/icons/Css.astro'
import Django from '@/icons/Django.astro'
import Figma from '@/icons/Figma.astro'
import Github from '@/icons/Github.astro'
import MySQL from '@/icons/MySQL.astro'
import Php from '@/icons/Php.astro'
import React from '@/icons/React.astro'
import Sqlite3 from '@/icons/Sqlite3.astro'
import TailwindCss from '@/icons/TailwindCss.astro'
---

<Section title="Proyectos">
  <div class="flex flex-col">
    <!-- CineSpectra -->
    <div class="mb-3">
      <div class="flex justify-between items-center gap-2">
        <span class="font-semibold text-md">CineSpectra</span>
        <a
          href="https://cinespectra-dd8h.onrender.com/"
          class="text-green-600 text-sm text-center text-pretty print:hidden"
          target="_blank">En desarrollo</a
        >
      </div>
      <div class="flex flex-col w-full text-sm">
        <div class="text-pretty">
          Desarrollo de una aplicación web que muestra tráilers de películas
          utilizando la API de <a
            href="https://developer.themoviedb.org/"
            class="underline"
            target="_blank">The Movie Database.</a
          >
        </div>
        <div class="text-pretty">
          <span class="font-semibold">Progreso actual:</span>
          <ul class="list-disc pl-5 ml-5">
            <li>
              Se desarrolló primero toda la lógica y las peticiones a la API,
              creando una estructura funcional con un diseño preliminar
              amigable.
            </li>
            <li>
              Posteriormente, diseñé en Figma el modelo visual que quería que la
              web siguiera.
            </li>
            <li>
              Hasta el momento, la aplicación web está implementada solo en su
              versión móvil.
            </li>
            <li>
              La aplicación ya permite ver tráilers de películas y cuenta con un
              buscador para encontrar títulos específicos.
            </li>
          </ul>
        </div>
        <div class="text-pretty">
          <span class="font-semibold">Objetivos a futuro:</span>
          <ul class="list-disc pl-5 ml-5">
            <li>
              Desarrollar a futuro la versión de escritorio, siguiendo el diseño
              previamente elaborado en Figma.
            </li>
            <li>
              Optimizar el rendimiento y la experiencia de usuario de la
              aplicación.
            </li>
          </ul>
        </div>
        <div class="hidden print:block">
          <span class="font-semibold">Tecnologias: </span>
          React, CSS, Figma.
        </div>
        <div
          class="flex justify-between items-center my-1 mx-6 h-7 print:hidden">
          <div class="inline-flex items-center gap-4">
            <React />
            <Css />
          </div>
          <div class="flex items-center justify-center gap-4">
            <a
              href="https://www.figma.com/design/9Pr62B6UcsxSCQ0n5tqy7c/Movie-Web-Design?m=auto&t=UjCig5eXDin1rxpv-6"
              target="_blank"><Figma /></a
            >
            <a
              class="bg-black text-white rounded-full p-2"
              href="https://github.com/Alexisxde/CineSpectra"
              target="_blank"><Github /></a
            >
          </div>
        </div>
      </div>
    </div>
    <hr class="mb-5" />
    <!-- Sneakers Store -->
    <div class="mb-3">
      <div class="flex justify-between items-center gap-2">
        <span class="font-semibold text-md">Sneakers Store</span>
        <Modal title="Sneakers Store" img="/sneakers_store.png" />
      </div>
      <div class="flex flex-col w-full text-sm">
        <div class="text-pretty">
          Desarrollo de un eCommerce con funcionalidades completas para la
          gestión de zapatillas, clientes y pedidos, como parte de la materia <span
            class="font-semibold">Taller de Programación I</span
          > de la Universidad.
        </div>
        <div class="text-pretty">
          <span class="font-semibold">Aspectos destacados:</span>
          <ul class="list-disc pl-5 ml-5">
            <li>
              Implementación de funciones CRUD para la gestión de zapatillas,
              clientes y pedidos.
            </li>
            <li>
              Integración de un sistema de autenticación y gestión de usuarios.
            </li>
            <li>Funcionalidades completas de carrito de compras.</li>
            <li>Sistema de gestión de zapatillas, clientes y pedidos.</li>
            <li>Uso ocasional de Bootstrap para componentes y estilos.</li>
            <li>Utilización actual de DataTables para la gestión de datos.</li>
            <li>Diseño responsivo y amigable para el usuario.</li>
          </ul>
        </div>
        <div class="hidden print:block">
          <span class="font-semibold">Tecnologias: </span>
          PHP, Codeigniter 4, CSS, MySQL.
        </div>
        <div
          class="flex justify-between items-center my-1 mx-6 h-7 print:hidden">
          <div class="inline-flex items-center gap-4">
            <Php />
            <Codeigniter />
            <Css />
            <MySQL />
          </div>
          <a
            class="font-bold bg-black text-white rounded-full p-2"
            href="https://github.com/Alexisxde/sneakers-store"
            target="_blank"><Github /></a
          >
        </div>
      </div>
    </div>
    <hr class="print:hidden mb-5" />
    <!-- Proyecto Integrador Argentina Programa 4.0 -->
    <div class="print:hidden mb-3">
      <div class="flex justify-between items-center gap-2">
        <span class="font-semibold text-md"
          >Proyecto Integrador Argentina Programa 4.0</span
        >
      </div>
      <div class="flex flex-col w-full text-sm">
        <div class="text-pretty">
          Desarrollo de un proyecto full stack durante mi curso. A pesar de los
          desafíos y la falta de colaboración de algunos compañeros, logramos
          completar exitosamente el proyecto, lo que me permitió aprobar.
        </div>
        <div class="text-pretty">
          <span class="font-semibold">Aspectos destacados:</span>
          <ul class="list-disc pl-5 ml-5">
            <li>
              Implementación del backend para gestionar la lógica del servidor y
              las operaciones CRUD.
            </li>
            <li>
              Diseño y funcionalidad completados, lo que resultó en la
              aprobación del curso.
            </li>
            <li>
              Almacenamiento de datos en SQLite3, garantizando una base de datos
              ligera y eficiente.
            </li>
          </ul>
        </div>
        <div class="flex justify-between items-center my-1 mx-6 h-7">
          <div class="inline-flex items-center gap-4">
            <React />
            <TailwindCss />
            <Django />
            <Sqlite3 />
          </div>
          <a
            class="font-bold bg-black text-white rounded-full p-2"
            href="https://github.com/Alexisxde/tp-arg-programa"
            target="_blank"><Github /></a
          >
        </div>
      </div>
    </div>
  </div>
</Section>
