---
import ViewTransitions from 'astro/components/ViewTransitions.astro'

interface Props {
  title: string
  href: string
  type: string
}

const { title, type, href } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio donde verás mis proyectos." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type={type} href={href} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content="Portafolio - Olivarez Alexis" />
    <meta
      property="og:description"
      content="Portafolio donde verás mis proyectos"
    />
    <meta property="og:image" content="https://alexisxde.github.io/me.webp" />
    <meta property="og:url" content="https://alexisxde.github.io" />
    <meta property="og:type" content="website" />
    <meta property="og:image:width" content="50" />
    <meta property="og:image:height" content="50" />
    <ViewTransitions />
  </head>
  <body class="dark">
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

  :root {
    color-scheme: light dark;
    --text__gray: #c9c9ca;
  }

  .dark {
    color-scheme: dark;
    --background-color: #1b1b1f;
    --color: #f2f2f8;
    --card: #202127;
    --card-hover: #fff;
  }

  .light {
    color-scheme: light;
    --color: #1b1b1f;
    --background-color: #f2f2f8;
    --card: #fff;
    --card-hover: #202127;
  }

  body {
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: var(--background-color);
    color: var(--color);

    max-width: 1395px;
    margin: 0 auto;
    padding: 0;
  }
</style>
